.topnav {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
}

a {
    background-color: gray;
    display: inline-block;
    padding: 2em;
}

.hero {
    width: 100%;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.one {
    background-color: lightgray;
    height: 400px;
}

.two {
    background-color: lightgray;
    height: 400px;
}

.three {
    background-color: lightgray;
    height: 400px;
}
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}








